<% include partials/header %>
     
     <div class="row">
          <div class="col-lg-12">
           
<h1>DashBoard</h1>
<h3>Welcome to your dashboard</h3>



          </div>
  
        </div>
  
        <% include partials/footer %>